@import "../../assets/scss/variables";


.inputTemplate {

  &__label {
    color: #3c3a3a;
    font-size: 15px;
  }

  &__text {
    padding-bottom: 10px;
  }

  &__input {
    outline: none;
    padding: 12px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #cbc9c9;
    width: 270px;
  }
}

