@import '../../assets/scss/variables' ;

.app__button {
  height: 30px;
  padding: 0 10px;
  background: #002eff;
  border-radius: 2px;
  color: white;
  font: 16px Ubuntu, sans-serif;
  cursor: pointer;
  transition: opacity .15s ease-in;

 &_primary {
  height: 30px;
  color: $color-white;
  background: $background-primary;
}

 &_success {
  height: 30px;
  background: $background-success;
}

&_border {
  height: 45px;
  background: $color-white;
}

&_border-success {
  height: 45px;
  color: $color-white;
}

&_back {
  position: relative;
  top: 50%;
  left: 82%;
  font-size: 20px;
}

&_modal {
  height: 45px;
  padding: 0 10px;
  color: $color-white;
 }

 &_dubl {
 background: $background-dubl;
 }

 &_edit {
  background: $background-edit;
  }
}

