@import '../../assets/scss/variables' ;

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Regular.woff2') format('woff2'),
  url('../fonts/Lato-Regular.woff') format('woff'),
  url('../fonts/Lato-Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'goingtodogreatthings';
  src: url('../fonts/goingtodogreatthings.ttf') format('truetype')
}


@font-face {
  font-family: 'Demo_ConeriaScript';
  src: url('../fonts/Demo_ConeriaScript.ttf') format('truetype')
}

body {
  font: $font-size-base $font-global;
  line-height: 1.2;
  color: $color-text;
}

.app {
  &__background {
    background: $background;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: black;
    text-align: center;
  }

  &__text {
    color: rgb(150, 114, 114);
    font-size: $font-size-base;
  }


  &__container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  &__box {
    display: flex;
    justify-content: center;
  }

  &__img {
    width: 25px;
    height: 25px;
  }

  &__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 700px;
    flex-direction: column;
  }

  &__search {
    outline: none;
    padding: 12px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #cbc9c9;
    width: 150px;
  }

  &__input {
    outline: none;
    padding: 12px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #cbc9c9;
    width: 50%;
  }
}


