// Colors
$color-white: #fff;
$color-title: #091133;
$color-text: #396963;
$color-logo: #0d1538;
$color-header: #86b6b3;
$color-base: #B1D8C5;

// Fonts
$font-global: Ubuntu, sans-serif;
$font-global-medium: Ubuntu-medium, sans-serif;
$font-global-bold: Ubuntu-bold, sans-serif;

// FontSize
$font-size-base: 16px;
$font-size-subtitle: 24px;
$font-size-button: 12px;
$font-copy: 12px;


// Variables
$borderRadius: 2px;
$background-success: #F6D5C6;
$background-primary: #C7C2BC;
$background-gradient: linear-gradient(#52515a, #010319);
$background: #EEE9E5;
$background-dubl: #9cd3a1;
$background-edit: #628ba7;


