@import "../../assets/scss/variables";

.footerTemplate {
  width: 100%;
  background: $color-base;
  padding: 15px 20px;
  left: 0;
  bottom: 0;

  &__text {
    color: $color-white;
    font-size: $font-copy;
  }
}